<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mobile.css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/">Controle de estudantes</a>
        <div id="head-menu">
            <p>Cadastrar: </p>
            <a href="alunos">Alunos</a>
            <p>|</p>
            <a href="sala">Sala</a>
        </div>
    </header>
    <main>
        <form action="/" method="post">
            <div id="sala-opt">
                <select class="form-select menuInit" aria-label="Default select example" id="sala" onchange="this.form.submit()" name="nome">
                    <label class="form-label">Sala</label>
                    <option value="invalido">Selecione uma sala</option>
                    <% for (let i=0; i<salas.length; i++) { %>
                        <option value='<%= salas[i].IDSala %>' <%= id == salas[i].IDSala ? 'selected' : ''%>>
                            <%= salas[i].Nome %> </option>
                    <% } %>
                </select>
            </div>
        </form>
        <form action="/" method="post" enctype="multipart/form-data">
            <div id="cards">
                <% for (let i=0; i<alunos.length; i++) { %>
                    <div class="card">
                        <img src="img/<%= alunos[i].Foto %>" class="card-img-top" alt="Foto aluno">
                        <div class="card-body">
                            <h5 class="card-title"><%= alunos[i].Nome %></h5>
                            <p class="card-text">Idade: <%= alunos[i].Idade %></p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Editar
                            </button>
                        </div>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Editar informações</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="cadastro2">
                                            <input type="file" id="flImage" name="foto" accept="image/*">
                                            <img src="img/<%= alunos[4].Foto %>" class="card-img-top2" alt="Foto aluno">
                                            <div class="mb-3 forms">
                                                <label class="form-label">Nome</label> 
                                                <input type="text" class="form-control" placeholder="nome" value="<%= alunos[4].Nome %>">
                                            </div>
                                            <div class="mb-3 forms">
                                                <label class="form-label">Idade</label>
                                                <input type="text" class="form-control" placeholder="idade">
                                            </div>
                                            <div class="mb-3 forms">
                                                <label class="form-label">Sexo</label>
                                                <input type="text" class="form-control" placeholder="sexo">
                                            </div>
                                            <select class="form-select edt-aluno-sala" aria-label="Default select example" id="sala" onchange="this.form.submit()" name="nome">
                                                <label class="form-label">Sala</label>
                                                <option>Selecione uma sala</option>
                                                <% for (let i=0; i<salas.length; i++) { %>
                                                    <option value='<%= salas[i].IDSala %>' <%= id == salas[i].IDSala ? 'selected' : ''%>>
                                                        <%= salas[i].Nome %> </option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                        <button type="submit" class="btn btn-primary">Salvar alterações</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </form>
            
            <!-- <a href="#popupLogin" data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-check ui-btn-icon-left ui-btn-a" data-transition="pop">Sign in</a>
                <a href="#popupBasic" data-rel="popup" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-transition="pop">Basic Popup</a>
                <div data-role="popup" id="popupBasic">
                    <p>This is a completely basic popup, no options set.</p>
                </div> -->
    </main>
    <footer></footer>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->
    <!-- <script
        src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.js"
        integrity="sha256-1PYCpx/EXA36KN1NKrK7auaTylVyk01D98R7Ccf04Bc="
        crossorigin="anonymous">
    </script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>
</html>